@import "tailwindcss";
body {
  font-family: "inter", sans-serif;
  font-size: 1rem;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
}
@media (max-width: 768px) {
  .mobile-hero-title {
    font-size: 1.75rem !important;
    line-height: 2.2rem !important;
  }

  .mobile-section-padding {
    padding: 3rem 1rem !important;
  }

  .mobile-container {
    padding: 1.5rem !important;
  }

  .mobile-image {
    width: 100% !important;
  }
}
